*{
    text-decoration: none;
}
.NavbarItems{
    background-color: #150e21;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
}
.NavbarItems .logo{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #fff;
    font-size: 2rem;
}

.NavbarItems .logo img{
    width: 25%;
}
.NavbarItems h1{
    color: #fff;
    font-size: 1rem;
}
.NavbarItems ul{
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 2rem;
    align-items: center;
}
.NavLink{
    color: #fff;
    font-weight: 600;
    transition: 1s ease;
}
.NavLink:hover{
    border-bottom: rgb(223, 61, 61) 1px solid;
}
li:nth-child(5),li:nth-child(4){
    display: none;
}
.NavbarItems ul button{
    padding: 5px 10px;
    background: none;
    border: 2px #fff solid;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s ease;
}
.NavbarItems ul button:hover{
    border: 2px solid #fff;
    color: #150e21;
    background: #fff;
}
.menu-icons{
    display: none;
}
@media screen and (max-width:700px){
    .NavbarItems{
        z-index: 999;
    }
    .NavbarItems .nav-menu{
        left: -100%;
        transition: all 1s ease-in-out;
        opacity: 0;
        display: none;
    }
    .NavbarItems .active{
        display: flex;
        flex-direction: column;
        background-color: #150e21;    
        width: 100%;    
        height: 100vh;
        position: absolute;
        top: 0;
        padding: 80px 0 30px;
        align-items: stretch;
        transition: all 1s ease-in-out;
        left: 0;
        opacity: 1;
        z-index: -1;
        gap: 5rem;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
        color: #fff;
    }
}