.price-section{
    padding: 4.5rem 7rem 3rem;
}
.price-section .header{
    text-align: start;
    margin-bottom: 25px;
}
.price-section .Pricing{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.price-section .Pricing .Price{
    padding: 1rem 0;
    background: #0b59cf;
    color: #fff;
    box-shadow: 0 6px 20px rgba(56,125,255,0.2);
    transition: 0.7s all ease;
}
.price-section .Pricing .Price:hover{
    transform: scale(1.06);
}
.price-section .Pricing .Price:nth-child(2){
    background: #150e21;
    transform: scale(1.05);
}
.price-section .Pricing .Price img{
    width: 32%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.price-section .Pricing .Price h3{
    font-size: 1.2rem;
    font-weight: normal;
}
.price-section .Pricing .Price h2{
    font-size: 1.9rem;
    font-weight: normal;
}
.price-section .Pricing .Price h6{
    font-weight: 200;
    padding-bottom: 2rem;
}
.price-section .Pricing .Price h5{
    font-weight: normal;
    margin-bottom: 5px;
}
.price-section .Pricing .Price button{
    margin-top: 2rem;
    width: 70%;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #150e21;
    border: 1px solid #150e21;
    color: #fff;
    transition: 0.5s all ease;
    margin-bottom: 1rem;
}
.price-section .Pricing .Price button:hover{
    background: none;
}
.price-section .Pricing .Price .middle{
    margin-top: 2rem;
    padding: 5px 10px;
    background-color: #1363DF;
    border: 1px solid #1363DF;
    color: #fff;
    transition: 0.5s all ease;
}
.price-section .Pricing .Price .middle:hover{
    background: none;    
}

@media screen and (max-width:700px){
    .price-section{
        padding: 2rem 2rem;
    }
    
}
@media screen and (max-width:540px){
    .price-section{
        padding: 2rem 4rem;
    }
    .price-section .header{
        text-align: center;
        margin-top: 3rem;
    }
    .price-section .Pricing{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        width: 100%;
    }
    .price-section .Pricing .Price:hover{
        transform: scale(1);
    }
    .price-section .Pricing .Price:nth-child(2){
        background: #150e21;
        transform: scale(1);
    }
    .price-section .Pricing .Price img{
        width: 25%;
    }
}